﻿@page
@model OnlineLearning.Pages.Auth.ResetPasswordModel
@{
}
<div>
    <div>
        <div>
            <div>
                <div style="text-align:center">
                    <h1>Change Password !!</h1>
                </div>
                <div >
                    <p style="color: red; text-align:center">@ViewData["Alert"]</p>
                    <form method="post">
                        <div class="regi">
                        <div style="width: 50%; text-align: right">
                            <div class="ah">
                            <label>Email</label>
                            
                            </div class="ah">
                            <div class="ah">
                            <label>Old Password</label>
                            
                            </div>
                            <div class="ah">
                            <label>New Password</label>
                            
                            </div>
                            <div class="ah">
                            <label>Comfirm Password</label>
                            
                            </div>
                        </div>
                        <div style="width: 50%; text-align: left">
                            <div class="ha">
                            <input type="text" name="email" placeholder="enter email ...">
                            </div>
                            <div class="ha">
                            <input type="password" name="old" placeholder="enter old password ...">
                            </div>
                            <div class="ha">
                            <input type="password" name="neww" placeholder="enter new password ...">
                            </div>
                            <div class="ha">
                            <input type="password" name="confirm" placeholder="enter confirm password ...">
                            </div>
                        </div>
                        </div>
                        <div style="text-align:center">
                            <Button>Change</Button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
