﻿@page
@model OnlineLearning.Pages.Auth.SignInModel
@{
}
<div>
    <div style="text-align: center">
        <h1>Welcome back !!</h1>
        <p>Dont have an account? <a href="/Auth/Register">Sign up</a></p>
    </div>
    <div style="text-align: center">
        <p style="color:red">@ViewData["error"]</p>
        <form method="post">
            <div>
                <label>Username</label>
                <input type="text" name="email" placeholder="enter email ...">
            </div>
            <div style="margin-top: 10px">
                <label>Password</label>
                <input type="password" name="password" placeholder="enter password ...">
            </div>
            <div style="margin-top: 10px">
                <Button>Sign In</Button>
            </div>
        </form>
    </div>
</div>

<div class="nav-item" style="text-align: center">
    <a style="color: blue" class="nav-link text-dark" href="./ForgotPassword">Forgot Password</a>
</div>