﻿@page
@model OnlineLearning.Pages.AccountPage.EditAccountModel
@{

}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div class="form-group">
                AccountID: <input type="hidden" class="form-control" value=""/>
            </div>
            <div class="form-group">
                Email: <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                Hash: <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                ConfirmationToken: <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                ResetPasswordToken: <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                Confirmed: <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                Blocked: <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                RoleId: <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                Password: <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-page="ListAccount">Back to List</a>
        </div>

    </div>
</div>


