﻿@page
@model OnlineLearning.Pages.AccountPage.ListAccountModel
@{
}
<div style="margin-bottom:10px; display: flex">
    <a style="width: 50%; text-align: center" class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="/Auth/ResetPassword">Change Password</a>
    <a style="width: 50%; text-align: center" class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="/Auth/SignIn?handler=SignOut">Logout</a>
</div>
<h1 style="text-align:center; padding-bottom:20px">List Account</h1>
<table class="table table-striped border" >
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Hash</th>
        <th>ConfirmationToken</th>
        <th>ResetPasswordToken</th>
        <th>Confirmed</th>
        <th>Blocked</th>
        <th>RoleId</th>
        <th>Password</th>
    </tr>

    @foreach (var item in Model.listAccount)
    {
        <tr>
            <td>@item.AccountId</td>
            <td>@item.Email</td>
            <td>@item.Hash</td>
            <td>@item.ConfirmationToken</td>
            <td>@item.ResetPasswordToken</td>
            <td>@item.Confirmed</td>
            <td>@item.Blocked</td>
            <td>@item.RoleId</td>
            <td>@item.Password</td>
            <td>
                <a asp-page="EditAccount" asp-route-id="@item.AccountId">Edit</a>
            </td>
        </tr>
    }
</table>