﻿@page
@model OnlineLearning.Pages.CoursePage.ListCourseModel
@{
}
<!-- Header Start -->
<div style="margin-bottom:10px; display: flex">
    <a style="width: 50%; text-align: center" class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="/Auth/ResetPassword">Change Password</a>
    <a style="width: 50%; text-align: center" class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="/Auth/SignIn?handler=SignOut">Logout</a>
</div>
<div class="container-fluid page-header" style="margin-bottom: 90px;">

    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="row pb-3">
                    @foreach (var item in Model.listCourse)
                    {
                        <div class="col-lg-6 mb-4">
                            <div class="blog-item position-relative overflow-hidden rounded mb-2">
                                <img class="img-fluid" src="~/img/blog-1.jpg" alt="">
                                <a class="blog-overlay text-decoration-none" asp-page="CourseDetails" asp-route-id="@item.CourseId">
                                    <h5 class="text-white mb-3">@item.Title</h5>
                                </a>

                            </div>
                        </div>
                    }
                    <div class="col-12">
                        <div class="text-center">
                            <a href="/CoursePage/AddCourse"><button>Add</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <!-- Author Bio -->
                @*<div class="d-flex flex-column text-center bg-dark rounded mb-5 py-5 px-4">
                    <img src="~/img/user.jpg" class="img-fluid rounded-circle mx-auto mb-3" style="width: 100px;">
                    <h3 class="text-primary mb-3">John Doe</h3>
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                    <p class="text-white m-0">Conset elitr erat vero dolor ipsum et diam, eos dolor lorem, ipsum sit no ut est  ipsum erat kasd amet elitr</p>
                </div>*@

                <!-- Search Form -->
                <div class="mb-5">
                    <form method="get">
                        <div class="input-group">
                            <input asp-for="Search" type="text" class="form-control form-control-lg" placeholder="Keyword">
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent text-primary">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Category List -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">Web Design</a>
                            <span class="badge badge-primary badge-pill">150</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">Web Development</a>
                            <span class="badge badge-primary badge-pill">131</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">Online Marketing</a>
                            <span class="badge badge-primary badge-pill">78</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">Keyword Research</a>
                            <span class="badge badge-primary badge-pill">56</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">Email Marketing</a>
                            <span class="badge badge-primary badge-pill">98</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Blog End -->